@model UserDto
<form asp-action="Login">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input asp-for="UserName"  id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input asp-for="Password" type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
     <input type="submit" value="Login" class="btn btn-success" />
  </div>
</form>